exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "box", "contour", "image", "legend",
           "lines", "matplot", "mtext", "par", "plot", "polygon",
           "text")
importFrom("utils", "setTxtProgressBar", "txtProgressBar") 
importFrom("grDevices", "rgb")
importFrom("stats", "arima", "arima.sim", "fft", "loess", "na.omit",
           "pacf", "predict", "quantile", "rnorm", "runif", "sd",
           "ts.plot")
